/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,600&display=swap');

* {
	box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
	.icon-box {
		width: 80px !important;
		height: 80px !important;
		margin-right: 4px !important;
	}
}
